///// fond noir du footer /////
footer{
  background-color: black;
}

.textecontact{
color: white;
padding-top: 5px;
}

///// div qui englobe lien /////
#contact{
padding-top: 30px;
text-align: center;
}

.liencontact{
  list-style: none;
  display: inline-block;
  transition: 2s;
}

.listelien{
  margin-left: -30px;
}
@media (max-width:768px){

.photofooter{
    width: 50px;
    transition: 2s;
    margin-left: 15px;
    margin-right: 15px;
}
}


@media (min-width:768px){
.liencontactreseau{
  transition: 1s;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 100%;

}
.liencontactreseau:hover{
  background-color: white;
  transition: 1s;
  border-radius: 0%;
}
}
